.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-7 {
    float: right;
}

.col-lg-4 button {
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
}

header {
    background-color: #299be4;
    color: #fff;
    padding: 15px;
}

tbody tr:hover {
    background-color: #299be4;
    color: #fff;
}